<%= turbo_stream_from @channel %>

<p id="notice"><%= notice %></p>

<p><%= current_user.profile.full_name %></p>

<h4><%= @channel.group.name %></h4>

<%= content_tag :div, id: dom_id(@channel) do %>
  <h1><%= @channel.name %></h1>
<% end %>

<div id="messages">
  <%= render :partial => "messages/message", :collection => @channel.messages, :as => :message %>
</div>

<%= render 'messages/form' %>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', group_path(@channel.group) %>
