<%= turbo_stream_from @channel %>

<p id="notice"><%= notice %></p>

<%= render "components/headers/header", header: "##{@channel.name.titleize}", subheader: "#{@channel.channel_members.count} subscribers", header_link: channel_channel_members_path(@channel), back_link: @back_link %>

<%= render 'components/layout/general_layout' do %>
  <div id="messages">
    <%= render :partial => "messages/message", :collection => @channel.messages, :as => :message %>
  </div>
  <%= render 'messages/form' %>
<% end %>
