<%= turbo_stream_from @channel %>

<p id="notice"><%= notice %></p>

<h4><%= @channel.group.name %></h4>

<%= content_tag :div, id: dom_id(@channel) do %>
  <h1><%= @channel.name %></h1>
<% end %>

<%= link_to 'View subscribers', channel_channel_members_path(@channel) %>

<%= render 'components/layout/general_layout' do %>
  <div id="messages">
    <%= render :partial => "messages/message", :collection => @channel.messages, :as => :message %>
  </div>
<% end %>

<%= render 'messages/form' %>

<%= link_to 'Edit', edit_channel_path(@channel) %>
<%= link_to 'Delete', channel_path(@channel), method: :delete %> |

<%= link_to 'Back', group_path(@channel.group) %>
