<%= turbo_stream_from @channel %>

<%= render "components/headers/header",
      header: @channel.display_name,
      subheader: "#{@channel.channel_members.count} subscribers",
      header_link: channel_channel_members_path(@channel),
      back_link: @back_link,
      right: [{icon: 'options', link: '#', classes: 'transparent', options: @header_options}] %>

<%= render 'components/layout/general_layout', mobile_no_padding: true, classes: "overflow-hidden flex flex-col" do %>
  <div id="messages" class="w-full h-full pb-4 overflow-scroll">
    <% @channel.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
    <% if @channel.messages.empty? %>
      <%= render 'components/lists/prompt_photo', header:'Be the first to message!', message: 'Send a message to introduce everyone to the channel', image: asset_url('cartoons/sending-message'), image_multiply: true %>
    <% end %>
  </div>
  <div class="flex-shrink-0 bg-white p-2 border-t border-gray-200 md:rounded-xl md:border md:shadow-xs md:mb-4">
    <%= render 'messages/form', message: @message, channel: @channel %>
  </div>
<% end %>
