<%= turbo_stream_from @channel %>

<p id="notice"><%= notice %></p>

<%= render "components/headers/header", header: "##{@channel.name.titleize}", subheader: "#{@channel.channel_members.count} subscribers", header_link: channel_channel_members_path(@channel), back_link: @back_link %>

<%= render 'components/layout/general_layout', mobile_no_padding: true, classes: "overflow-hidden flex flex-col" do %>
  <div id="messages" class="w-full h-full pb-4 overflow-scroll">
    <% @channel.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
    <% if @channel.messages.empty? %>
      <%= render 'components/lists/prompt_photo', header:'Be the first to message!', message: 'Send a message to introduce everyone to the channel', image: 'https://842930.smushcdn.com/1760858/wp-content/uploads/2020/11/easy-29-message-sent.png?lossy=1&strip=1&webp=1' %>
    <% end %>
  </div>
  <div class="flex-shrink-0 bg-white p-2 border-t border-gray-200 md:rounded-xl md:border md:shadow-xl md:mb-4">
    <%= render 'messages/form', message: @message, channel: @channel %>
  </div>
<% end %>
