<%= render 'components/headers/highlight_header', title: 'Profile' %>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Logout', destroy_user_session_path(current_user), method: :delete %>
<% end %>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
