<% subtitle ||= channel.messages.empty? ? "Write a message to #{channel.name}" : "#{channel.messages.last.profile.first_name&.capitalize}: #{channel.messages.last.content.to_plain_text}" %>
<% link ||= channel_path(channel) %>
<% classes ||= "" %>
<% muted ||= false %>
<% unread_messages ||= false %>
<% move_to_top ||= false %>
<% data = move_to_top ? {controller: "move-to-top"} : {} %>
<% right ||= [] %>

<%= render 'components/filters/filter_item', filter_text: "#{channel.name} #{channel.group.name}", classes: 'w-full', ids: "channel_list_item_#{channel.id}", data: data do %>
  <div class="relative">
    <%= link_to link, class: "flex items-center py-3 px-2 hover:bg-karl animated fadeIn rounded-none sm:rounded-xl #{classes}" do %>
      <div class="flex items-center flex-grow justify-between">
        <div class="flex items-center">
          <div class="h-12 w-12 rounded-full bg-contrast-light mr-2 flex items-center justify-center">
            <%= render 'icons/channel', classes: "stroke-current text-contrast" %>
          </div>
          <div>
            <h4 class="tracking-tight font-semibold"><%= channel.display_name %></h4>
            <h6 class="text-xs text-gray-400 <%= 'font-medium text-gray-800' if unread_messages %>"><%= truncate(subtitle, :length => 40) %></h6>
          </div>
        </div>
      </div>
      <% if right.empty? %>
        <div>
          <%= render('shared/navbar/badge') if unread_messages && !muted %>
          <%= render('icons/no_bell', classes: 'h-4 w-4 stroke-current text-gray-200 mr-2') if muted %>
        </div>
      <% end %>

    <% end %>
    <% if right.any? %>
      <div class="absolute top-2/4 right-2 inline-flex items-center transform -translate-y-2/4">
        <% right.each do |option| %>
          <%= option.html_safe %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

