<% subtitle ||= channel.messages.empty? ? "Write a message to ##{channel.name}" : "#{channel.messages.last.profile.first_name&.capitalize}: #{channel.messages.last.content.to_plain_text}" %>
<% link ||= channel_path(channel) %>
<% options ||= [] %>
<% classes ||= "" %>
<% muted ||= false %>
<% unread_messages ||= false %>
<% item_position ||= nil %>

<%= link_to link, id: "channel_list_item_#{channel.id}", class: "flex items-center p-2 rounded-lg mb-1 border border-gray-100 #{classes}", data: { controller:"animate list-item", list_item_position_value: item_position } do %>
  <div class="flex items-center flex-grow justify-between">
    <div>
      <h4>#<%= channel.name %></h4>
      <h6 class="text-xs text-gray-400 font-thin <%= 'font-medium text-gray-800' if unread_messages %>"><%= truncate(subtitle, :length => 50) %></h6>
    </div>
  </div>
  <div>
    <%= render('shared/navbar/badge') if unread_messages && !muted %>
    <%= render('icons/no_bell', classes: 'h-4 w-4 stroke-current text-gray-300') if muted %>
  </div>
  <% options.each do |option| %>
    <%= option.html_safe %>
  <% end %>
<% end %>

