<% subtitle ||= nil %>
<% link ||= profile_path(profile) %>
<% options ||= [] %>
<% classes ||= "" %>

<%= link_to link, class: "list-item flex items-center p-2 rounded-lg mb-1 border border-gray-100 #{classes}" do %>
  <div class="flex items-center flex-grow">
    <%= render 'components/avatar', profile: profile, classes: 'mr-2' %>
    <div>
      <h4><%= profile.full_name %></h4>
      <% if subtitle %>
        <h6 class="text-xs text-gray-400 -mt-1"><%= subtitle %></h6>
      <% end %>
    </div>
  </div>
  <% options.each do |option| %>
    <%= option.html_safe %>
  <% end %>
<% end %>
