<% subtitle ||= nil %>
<% link ||= profile_path(profile) %>
<% options ||= nil %>
<% classes ||= "" %>

<% unless options %>
  <%= link_to link, class:"p-3 sm:px-0 block border-b border-gray-200 hover:bg-karl transition-all hover:px-3 #{classes}" do %>
    <div class="flex items-center flex-grow">
      <%= render 'components/avatar', profile: profile, classes: 'mr-2' %>
      <div>
        <h4 class="text-sm font-normal"><%= profile.full_name %></h4>
        <% if subtitle %>
          <h6 class="text-xs text-gray-400 -mt-1"><%= subtitle.capitalize %></h6>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= render 'components/modals/options_modal', options: options do %>
    <%= link_to link, data: { action:"click->modal#open" }, class:"p-3 sm:px-0 block border-b border-gray-200 hover:bg-karl transition-all hover:px-3 #{classes}" do %>
      <div class="flex items-center flex-grow">
        <%= render 'components/avatar', profile: profile, classes: 'mr-2' %>
        <div>
          <h4 class="text-sm font-normal"><%= profile.full_name %></h4>
          <% if subtitle %>
            <h6 class="text-xs text-gray-400 -mt-1"><%= subtitle %></h6>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
