<% if header_link %>
  <div class="absolute top-2/4 left-2/4 inline-flex flex-col items-center transform -translate-x-2/4 -translate-y-2/4">
    <%= link_to header_link do %>
      <h1 class="text-base text-gray-900 font-medium -mb-0.5"><%= header.capitalize.truncate(20) %></h1>
    <% end %>
    <%= link_to header_link do %>
      <div class="flex items-center ml-1">
        <% if subheader %>
          <h4 class="text-xs text-gray-400 font"><%= subheader %></h4>
        <% else %>
          <h4 class="text-xs text-gray-400 font">See more</h4>
        <% end %>
        <%= render 'icons/chevron_right', classes: "stroke-current text-gray-400 h-3 w-3 stroke-2 mt-0.25 ml-1" %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="absolute top-2/4 left-2/4 inline-flex flex-col items-center transform -translate-x-2/4 -translate-y-2/4">
    <h1 class="text-base text-gray-900 font-medium -mb-0.5"><%= header.capitalize.truncate(20) %></h1>
    <% if subheader %>
      <h4 class="text-xs text-gray-400 font"><%= subheader %></h4>
    <% end %>
  </div>
<% end %>
