<% right ||= nil %>

<div class="w-full p-1 pl-2 flex justify-between items-center">
  <h4 class="font-medium tracking-tight text-sm text-gray-400"><%= title %></h4>
  <% if right %>
    <div>
      <% right.each do |button_hash| %>
        <% button_hash[:options] ||= nil %>
        <% button_hash[:data_attributes] ||= {} %>
        <% button_hash[:classes] ||= "" %>

        <% if button_hash[:options] %>
          <%= render 'components/modals/options_modal', options: button_hash[:options] do %>
            <div class="icon-btn <%= button_hash[:classes] %>" data-action="click->modal#open">
              <%= render "icons/#{button_hash[:icon]}" %>
            </div>
          <% end %>
        <% elsif button_hash[:link] %>
          <%= link_to button_hash[:link], class: "icon-btn #{button_hash[:classes]}", data: button_hash[:data_attributes] do %>
            <%= render "icons/#{button_hash[:icon]}" %>
          <% end %>
        <% else %>
          <%= content_tag('div', class: "icon-btn #{button_hash[:classes]}", data: button_hash[:data_attributes]) do %>
            <%= render "icons/#{button_hash[:icon]}" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
