<%= simple_form_for(@group_member) do |f| %>
  <%= render 'shared/form_errors', form: f %>

  <div class="form-inputs">
    <%= f.association :profile %>
    <%= f.association :group %>
    <%= f.input :role %>
  </div>

  <div class="form-actions">
    <%= submit_with_loader(f) %>
  </div>
<% end %>
