<p id="notice"><%= notice %></p>

<h1><%= @group.name.capitalize %></h1>
<h1>Group Members</h1>
<%= link_to 'Add members', new_group_group_member_path %>

<% @group_members.each do |group_member| %>
  <%= render 'components/lists/profile_list_item', profile: group_member.profile, subtitle: group_member.role %>
<% end %>

<br>

<%= link_to 'Back', group_path(@group) %>
