<h1>Add members to <%= @group.name %></h1>

<%= simple_form_for(@group, method: :post, url: group_group_members_path(@group)) do |f| %>
  <%= render 'shared/form_errors', form: f %>

  <div class="form-inputs">
    <%= render 'components/forms/profile_select' %>
  </div>

  <div class="form-actions">
    <%= submit_with_loader(f) %>
  </div>
<% end %>

<%= link_to 'Back', group_group_members_path(@group) %>
