<p>
  <strong>Profile:</strong>
  <%= @group_member.profile_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @group_member.group_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @group_member.role %>
</p>

<%= link_to 'Edit', edit_group_member_path(@group_member) %> |
<%= link_to 'Back', group_members_path %>
