<%= render 'components/headers/highlight_header', title: 'Notifications' %>
<%= render 'components/layout/general_layout', mobile_no_padding: true, classes: 'overflow-scroll' do %>
  <div class="pb-20">
    <%= turbo_frame_tag 'notifications' do %>
      <% @notifications.each do |notification| %>
        <%= render 'notification', notification: notification %>
      <% end %>
      <% if @notifications.empty? %>
        <%= render 'components/lists/prompt_photo', header: 'No notifications yet...', message: 'Here you will see when people @mention you or react to your comments', image: asset_url('cartoons/mission-accomplished.png'), image_multiply: true %>
      <% end %>
    <% end %>
  </div>
<% end %>
