<%= simple_form_for(@group) do |f| %>
  <%= render 'shared/form_errors', form: f %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <div class="form-group">
      <%= f.label 'Add members' %>
      <%= render 'components/forms/profile_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_with_loader(f) %>
  </div>
<% end %>
