<%= render 'components/headers/highlight_header', title: 'Groups' %>

<%= render 'components/layout/general_layout', classes: 'py-2', mobile_no_padding: true do %>
  <div id="groups" class="flex flex-wrap">
    <% @groups.each do |group| %>
      <%= link_to group_path(group), class:"h-48 w-1/2 p-2" do %>
        <%= render 'groups/card', group: group %>
      <% end %>
    <% end %>
  </div>
<%= link_to 'New Group', new_group_path %>
<% end %>
