<%= render 'components/headers/highlight_header', title: 'Groups' %>

<%= render 'components/layout/general_layout', classes: 'py-2' do %>
  <%= render 'components/headers/section_header',
                title: 'Your groups',
                right: [{icon: 'plus_circle', link: new_group_path, classes: 'icon-btn transparent'}] %>
  <div id="groups" class="grid grid-cols-2 grid-flow-row gap-3">
    <% @group_members.each do |member| %>
      <%= link_to group_path(member.group), class:"h-48" do %>
        <%= render 'groups/card', group: member.group %>
      <% end %>
    <% end %>
  </div>
<% end %>
