<%= render "components/headers/header", header: @group.name.titleize, subheader: "#{@group.group_members.count} members", header_link: group_group_members_path(@group), back_link: groups_path %>

<%= render 'components/layout/general_layout', classes:'py-2 pb-24' do %>

  <%= render 'components/headers/section_header', title: 'Primary channels' %>

  <div id="channel_list_items" class="overflow-hidden rounded-2xl bg-white border border-gray-100 shadow-xs mb-2">
    <% @primary_channel_members.each do |member| %>
      <%= render 'components/lists/channel_list_item', classes: "sm:px-2", channel: member.channel, muted: member.muted?, unread_messages: member.unread_messages? %>
    <% end %>
  </div>

  <%= render 'components/headers/section_header',
                title: 'Your channels',
                right: [
                  {icon: 'search_circle', link: group_channels_path(@group), classes: 'icon-btn transparent'},
                  {icon: 'plus_circle', link: new_group_channel_path(@group), classes: 'icon-btn transparent'}] %>

  <div id="channel_list_items" class="overflow-hidden rounded-2xl bg-white border border-gray-100 shadow-xs mb-2">
    <% @subscribed_channel_members.each do |member| %>
      <%= render 'components/lists/channel_list_item', classes: "sm:px-2", channel: member.channel, muted: member.muted?, unread_messages: member.unread_messages? %>
    <% end %>
    <% if @subscribed_channel_members.empty? %>
      <%= render 'components/lists/prompt_photo', header:"You haven't joined channels yet", message: 'Find and join channels for you', image: asset_url('cartoons/chat'), link_text: 'See channels', link: group_channels_path(@group) %>
    <% end %>
  </div>
<% end %>
