<%= render "components/headers/header", header: 'Add subscribers', subheader: "#{@channel.display_name}", back_link: channel_channel_members_path(@channel) %>

<%= render 'components/layout/general_layout', classes: "py-2" do %>
  <%= simple_form_for(@channel, method: :post, url: channel_channel_members_path(@channel)) do |f| %>
    <%= render 'shared/form_errors', form: f %>

    <div class="form-inputs">
      <%= render 'components/forms/profile_select',
            label: 'Channel members',
            index_model: GroupMember.index_name,
            search_options:{"hitsPerPage": 10, "page": 0, "facets": ["*","group.objectID"],"facetFilters": [["group.objectID:#{@channel.group.id}"]]} %>
    </div>

    <div class="form-actions">
      <%= submit_with_loader(f) %>
    </div>
  <% end %>
<% end %>
