<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <% if current_user %>
    <body class="bg-tofu w-screen h-screen" data-controller="react-native" data-react-native-url-value="<%= user_registration_path(current_user) %>" data-react-native-ask-to-accept-notifications-value="<%= current_user.ask_to_accept_notifications %>">
      <%= turbo_stream_from current_user.profile %>
  <% else %>
    <body class="bg-tofu w-screen h-screen" data-controller="react-native">
  <% end %>
    <%= render 'shared/flashes' %>
    <div class="body-content">
      <%= yield %>
    </div>
    <%= render('shared/navbar/navbar') if user_signed_in? %>
    <%= render 'shared/load_screen' %> <!-- will disappear once tailwind is loaded -->
  </body>
</html>
